# Node.js
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Diretórios de build e cache
build/
dist/
cache/

# Ambiente
.env
.env.*.local

# Logs
*.log

# Sistema
.DS_Store
*.swp

# Repositórios específicos para cada projeto

# React (corelab-frontend)
corelab-frontend/node_modules/
corelab-frontend/build/
corelab-frontend/.env.local
corelab-frontend/.env.development.local
corelab-frontend/.env.test.local
corelab-frontend/.env.production.local

# NestJS (corelab-backend)
corelab-backend/node_modules/
corelab-backend/dist/
corelab-backend/.env
corelab-backend/.env.*.local

# IDEs e editores
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Arquivos temporários
*.tmp
*.temp
