@import '../../styles/variables.scss'; 

.main__container {
  padding: 40px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;  
 }
 .main__container__content{
   width: 60%;
   padding: 20px;
   background-color: $white;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   border-radius: 25px;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;  
 }
 .main__container__content h1{
  font-weight: 700;
  padding-bottom: 10px;
}
.main__container__content__links {
  display: flex;
  align-items: center;
  justify-content: space-around; 
  width: 70%;
  gap: 10px;
}
.main__container__form{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.main__container__content__links a {
  border-radius: 25px;
  width: 45%; 
  text-align: center;
  padding: 0.5rem;
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.input__tasks {
  background-color: $secondary-color; 
}
.input__tasks:hover {
  background-color: $primary-color;
  color: $white;
}
.input__deletar {
  color: $white;
  background-color: $accent-color; 
}
.input__deletar:hover {
  background-color: darken($accent-color, 20%); 
}


@media (max-width: $mobile) {
  .main__container{
    padding: 5px;
  } 
  .main__container__content{
  width: 100%;
  }
}