@import '../../styles/variables.scss';

.carousel__content {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  position: relative;
}

.carousel__content__card {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70%;
  width: 70%;
}

.carousel__content button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px; /* Border radius adicionado */
  transition: background-color 0.3s ease;

  &:hover {
    background-color: $primary-color;
  }
}

.carousel__content button:first-of-type {
  left: 10px;
}

.carousel__content button:last-of-type {
  right: 10px;
}

@media (max-width: $tablet) {
  .carousel__content {
    width: 100%;
    padding: 10px;
    flex-direction: column;
    align-items: flex-start;
  }

  .carousel__content__card {
    height: auto;
    width: 90%;
    margin-bottom: 10px;
  }

  .carousel__content button {
    width: 40px;
    height: 40px;
  }

  .carousel__content button:first-of-type {
    left: 5px;
  }

  .carousel__content button:last-of-type {
    right: 5px;
  }
}

@media (max-width: $mobile) {
  .carousel__content {
    padding: 5px;
  }

  .carousel__content__card {
    width: 100%;
  }

  .carousel__content button {
    width: 35px;
    height: 35px;
  }

  .carousel__content button:first-of-type {
    left: 5px;
  }

  .carousel__content button:last-of-type {
    right: 5px;
  }
}
